version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  fastapi-app:
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: fastapi_db
      PYTHONUNBUFFERED: 1
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  postgres_data:
