version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: fastapi_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - app-network

  fastapi-app:
    command: sh -c "cd /app/app && uvicorn main:app --host 0.0.0.0 --port 8000"
    working_dir: /app/app
    build:
      context: .
      dockerfile: ./app/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    depends_on:
      - postgres
    networks:
      - app-network
    restart: unless-stopped

  celery_worker:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    command: celery -A services.celery.celery worker --loglevel=info --pool=eventlet --concurrency=4
    volumes:
      - .:/app
    env_file:
      - ./app/.env
    depends_on:
      - rabbitmq
    networks:
      - app-network

  celery_beat:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    command: celery -A services.celery.celery beat --loglevel=info
    volumes:
      - .:/app
    env_file:
      - ./app/.env
    depends_on:
      - rabbitmq
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management-alpine
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq
    networks:
      - app-network


volumes:
  postgres_data:


networks:
  app-network:
    driver: bridge